section.pagination
  if ![pagination.page, pagination.previousPage].includes(1)
    a(href="?page=1") 1
  if pagination.hasPreviousPage
    a(href=`?page=${pagination.previousPage}`)=pagination.previousPage 
  a.active(href=`?page=${pagination.page}`)=pagination.page 
  if pagination.hasNextPage
    a(href=`?page=${pagination.nextPage}`)=pagination.nextPage 
  if ![pagination.page, pagination.nextPage].includes(pagination.lastPage)
    a(href=`?page=${pagination.lastPage}`)=pagination.lastPage 